.DS_Store
.tasks
.todo
.todolist
log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
config/database.yml
config/database.mongo.yml
config/activemq_event.yml
config/sms_keyword_service.yml
config/social_media_service.yml
coverage/*
coverage.data
features_rcov/*
public/system
nbproject/*
rerun.txt
.*.sw*
tags
.rvmrc
config/initializers/debugging_query_trace.rb
config/initializers/aspell_path.rb
.bundle
cuke/*.txt
cuke/*.log
cuke/*.html
public/crossdomain.xml
